{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}


{% block body %}

    <h1>Catégorie : {{ categories.owner.name }}</h1>
    <br>
    <table style="width: 500px; text-align: center">
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>contenu</th>
                <th>categorie</th>
            </tr>
        </thead>
        <tbody>
        {% for article in categories.owner.articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ categories.owner.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/blog/category/{{ categories.owner.name }}">
        Back to 3 last articles of this category.
    </a>
{% endblock %}

