{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <a href="/article/{{ article.id }}">
                go to this real awesome incredible article !!!
            </a>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}

{% endblock %}